@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* CSS HSL */
    --foreground-rgb: hsla(217, 20%, 18%, 1);
    --background-start-rgb: hsla(209, 22%, 30%, 1);
    --paynes-gray: hsla(206, 23%, 42%, 1);
    --cadet-gray: hsla(203, 21%, 68%, 1);
    --alice-blue: hsla(206, 31%, 90%, 1);
    --text-color: rgb(255, 255, 255);

    /* Font Sizes */
    --title-size: 60px;
    --subtitle-size: 30px;

    font-family: "Raleway";
}

@media (prefers-color-scheme: light) {
    :root {
        /* CSS HSL */
        --foreground-rgb: hsla(217, 20%, 18%, 1);
        --background-start-rgb: hsla(209, 22%, 30%, 1);
        --paynes-gray: hsla(206, 23%, 42%, 1);
        --cadet-gray: hsla(203, 21%, 68%, 1);
        --alice-blue: hsla(206, 31%, 90%, 1);
        --text-color: rgb(29, 30, 31);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: none;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
}

h1, h2 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: var(--title-size);
}

h2 {
    font-size: var(--title-size);    
}

nav {
    background-color: var(--foreground-rgb);
    color: var(--text-color);
}

.intro-block {
    font-family: "Raleway";
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    background-color: var(--foreground-rgb);
}

.intro-block p {
    font-size: var(--subtitle-size);
}

footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    background-color: var(--background-start-rgb);
    text-align: center;
}

.default-margins {
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-github {
    color:var(--text-color);
}

.fa-linkedin-square {
    color: #0077b5;
}
