.wrapper {
    display: grid;
    grid-template-columns: none;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

h1, h2 {
    font-family: "Raleway";
    font-weight: 800;
}

.intro-block {
    font-family: "Raleway";
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
}

footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
}